<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>
<button class="social-btn"><%= link_to "Follow me on Insta", "https://www.instagram.com/allyyvv/", class: "social-btn", target: :_blank %></button>
